[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
cvxopt = "*"
picos = "*"
joblib = "*"
mosek = "*"
seaborn = "*"
tqdm = "*"
scipy = "*"
pipfile = "*"
pybullet = "*"
gym = "*"
pgf = "*"
pytest = "*"
pyyaml = "*"

[dev-packages]

[requires]
python_version = "3.8"
